.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: fffff;
  font-family: Arial, Helvetica, sans-serif;
}
.LisaCabrera {
  display: flex;
  justify-content: space-around;
  background-color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}
h1 {
  display: flex;
  justify-content: center;
}
.picture {
  display: flex;
  justify-content: center;
}
#nature {
  height: 300px;
  width: 300px;
}

.container {
  margin-left: 50px;
  margin-top: auto;
  margin-right: 100px;
}

body {
  background-color: fuchsia;
}
.footer {
  background-color: #666666;
  margin-top: 50px;
  margin-bottom: 1px;
  display: flex;
  align-content: flex-end;
}
